<p-button
  class="mr-3"
  icon="pi pi-plus"
  (click)="onClickShowDialog()"
/>

<p-dialog header="Добавить товар" [modal]="true" [(visible)]="visible" class="flex-auto" [style]="{'width': '600px'}">
  <form  [formGroup]="itemForm" class="col-12">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="category" class="font-semibold col-4">Категория</label>
      <p-dropdown
        [options]="categories"
        formControlName="category"
        [showClear]="true"
        id="category"
        autoWidth="false"
        optionLabel="name"
        placeholder="Выберите категорию"
        class="col-8 p-0 max-w-full"
        [style]="{'min-width': '96%'}"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold col-4">Наименование</label>
      <input
        pInputText
        id="name"
        class="flex-auto col-8"
        autocomplete="off"
        formControlName="name"
        ngxTrim="keyup"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label
        for="description"
        class="font-semibold col-4"
      >
        Описание
      </label>
      <textarea
        rows="5"
        pInputTextarea
        id="description"
        class="flex-auto col-8"
        autocomplete="off"
        formControlName="description"
        ngxTrim="keyup"
      ></textarea>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="price" class="font-semibold col-4">Цена</label>
      <p-inputNumber
        formControlName="price"
        title="Цена"
        id="price"
        inputId="price"
        class="flex-auto col-8 p-0 max-w-full"
        mode="decimal"
        [maxFractionDigits]="2"
        [style]="{'width': '100%'}"
        ngxTrim="keyup"
      />
    </div>
    <p-fileUpload
      mode="basic"
      name="demo[]"
      chooseIcon="pi pi-upload"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      maxFileSize="1000000"
      (onUpload)="onFileUpload($event)"
      chooseLabel="Browse" />
  </form>

  <div class="flex justify-content-end gap-2">
    <p-button label="Отмена" severity="secondary" (click)="visible = false" />
    <p-button label="Сохранить" [disabled]="isSaveBtnDisabled()" (click)="onClickSave()" />
  </div>
</p-dialog>

